*{
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    margin-right: 20px;
    font-size: 3vw;
    padding: 0px 13px;
}
header{
    padding: 25px;
    background-color: black;
    color: white;
    position: sticky;
    top: 0px;
}
.box{
    min-height: 10px;
    background-color: aquamarine;
}
.box1{
    min-height: 1000px;
    background-color: rgba(10, 31, 221, 0.606);
    color: white;
    font-size: 2vw;
    z-index: 3;
    position: relative;
}